<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weris - Clients</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/list.css">
    <link id="mode" rel="stylesheet" href="">
</head>

<body>
    <!--Panel superior de busqueda de clientes-->
    <div class="client-search position-fixed w-100 p-5 d-flex flex-column" id="clientSearch">
        <div class="d-flex">
            <div class="col-3 fw-bold">Nombre</div>
            <div class="col-7 fw-bold">Dirección</div>
            <div class="col fw-bold">Teléfono</div>
        </div>
        <hr>
        <div id="datos">
            <article class="d-flex">
                <div class="col-3">Josué Gerardo Argumedo Rivera</div>
                <div class="col-7">Calle Leonardo da Vinci, 7, 41092. Address: Calle Leonardo da Vinci, 7, 41092.</div>
                <div class="col">1234-5678</div>
            </article>
        </div>
        <button class="ms-auto mt-4 main-btn" id="hidde">Hecho</button>
    </div>
    <div class="overlay position-fixed w-100" id="overlay"></div>

    <!--Modal para agregar comentarios a cliente-->
    <div class="modal fade" id="clientModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="fs-4 fw-bold m-0">Agregar comentarios</h1>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form class="modal-body p-4 row m-0">
                    <div class="form-floating col-12 mb-4">
                        <textarea name="" id="" class="form-control form-input" id="" placeholder=" "></textarea>
                        <label>Comentarios</label>
                    </div>
                </form>
                <div class="modal-footer">
                    <button class="main-btn" data-bs-dismiss="modal">Cancelar</button>
                    <button class="main-btn active">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal para visualizar el detalle de una compra-->
    <div class="modal fade" id="detailModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="fs-4 fw-bold m-0">Detalle de compra</h1>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form class="modal-body p-4">
                    <div class="row">
                        <div class="col-2 fw-bold">Producto</div>
                        <div class="col-2 fw-bold">Descripción</div>
                        <div class="col-2 fw-bold">Observación</div>
                        <div class="col-1 fw-bold">Cant.</div>
                        <div class="col-1 fw-bold">Precio</div>
                        <div class="col-1 fw-bold">Descuento</div>
                        <div class="col-1 fw-bold">SubTotal</div>
                        <div class="col-1 fw-bold">Comisión</div>
                        <div class="col-1 fw-bold">Total</div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-2">BURGER TUESDAY</div>
                        <div class="col-2">BURGER TUESDAY</div>
                        <div class="col-2">-</div>
                        <div class="col-1">3</div>
                        <div class="col-1">$5.00</div>
                        <div class="col-1">$0.00</div>
                        <div class="col-1">$15.00</div>
                        <div class="col-1">$0.00</div>
                        <div class="col-1">$15.00</div>
                    </div>
                    <hr>
                    <div class="row mt-4">
                        <div class="col-2">BURGER TUESDAY</div>
                        <div class="col-2">BURGER TUESDAY</div>
                        <div class="col-2">-</div>
                        <div class="col-1">3</div>
                        <div class="col-1">$5.00</div>
                        <div class="col-1">$0.00</div>
                        <div class="col-1">$15.00</div>
                        <div class="col-1">$0.00</div>
                        <div class="col-1">$15.00</div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button class="main-btn" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal para visualizar ubicación del driver o drivers disponibles-->
    <div class="modal fade" id="locationModal">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="fs-4 fw-bold m-0">Información de drivers</h1>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form class="modal-body p-4 row m-0">
                    <div class="col-12">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1629.9879425497695!2d-89.28065809749114!3d13.670741276607325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2ssv!4v1678059734473!5m2!1ses-419!2ssv"
                            width="100%" height="400" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </form>
                <div class="modal-footer">
                    <button class="main-btn" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal para agregar nuevo ticket-->
    <div class="modal fade" id="ticketModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="fs-4 fw-bold m-0">Generar nuevo ticket</h1>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form class="modal-body p-4 row m-0">
                    <div class="form-floating col-12 mb-4">
                        <textarea type="text" class="form-control form-input" id="" placeholder=" "></textarea>
                        <label>Nota</label>
                    </div>
                    <div class="col-6 mb-4">
                        <select class="form-select form-input h-100" aria-label="Default select example">
                            <option selected>Tipo ticket</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="form-floating col-6 mb-4">
                        <input type="text" class="form-control form-input" id="" placeholder=" ">
                        <label>Cliente</label>
                    </div>
                </form>
                <div class="modal-footer">
                    <button class="main-btn" data-bs-dismiss="modal">Cancelar</button>
                    <button class="main-btn active">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!--Navbar-->
        <nav class="row position-sticky">
            <div class="col-12 navbar px-4">
                <img src="../resources/logo.svg" alt="" height="100%" onclick="location.href = 'dashboard.html';">
                <div class="w-50 text-center">
                    <input type="search" class="w-75 form-input" placeholder="Buscar cliente" id="searchClient">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon-btn">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </div>
                <div>
                    <div class="dropdown d-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon-btn m-0 me-2"
                            data-bs-toggle="dropdown">
                            <path
                                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                        </svg>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item d-flex" href="chat.html">Facebook <span
                                        class="ms-auto badge bg-primary">24</span></a></li>
                            <li><a class="dropdown-item d-flex" href="chat.html">Instagram <span
                                        class="ms-auto badge bg-danger">12</span></a></li>
                            <li><a class="dropdown-item d-flex" href="chat.html">Twitter <span
                                        class="ms-auto badge bg-primary">8</span></a></li>
                            <li><a class="dropdown-item d-flex" href="chat.html">Whatsapp <span
                                        class="ms-auto badge bg-success">38</span></a></li>
                        </ul>
                    </div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon-btn m-0 me-2"
                        id="changeMode">
                        <path
                            d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
                        <path
                            d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
                    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon-btn m-0"
                        onclick="location.href = '../index.html'">
                        <path fill-rule="evenodd"
                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                        <path fill-rule="evenodd"
                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                    </svg>
                </div>
            </div>
        </nav>
        <div class="row">
            <!--Sidebar-->
            <div class="col-1 sidebar d-flex flex-column align-items-center pt-4 position-sticky">
                <a href="chat.html">
                    <svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="tooltip" data-bs-title="Chat"
                        viewBox="0 0 16 16" class="icon-btn">
                        <path
                            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg>
                </a>
                <a href="clients_view.html">
                    <svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="tooltip" data-bs-title="Clientes"
                        viewBox="0 0 16 16" class="icon-btn active">
                        <path
                            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
                    </svg>
                </a>
                <a href="deliver_view.html">
                    <svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="tooltip" data-bs-title="Conductores"
                        viewBox="0 0 16 16" class="icon-btn">
                        <path
                            d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
                    </svg>
                </a>
                <a href="my_user.html">
                    <svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="tooltip" data-bs-title="Mi perfil"
                        viewBox="2 2 14 14" class="icon-btn">
                        <path
                            d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
                    </svg>
                </a>
            </div>

            <main class="col-11">
                <div class="container-fluid">
                    <!--Title-->
                    <div class="row my-5 d-flex justify-content-between align-items-center">
                        <h1 class="fw-bold">Clientes</h1>
                        <form action="" class="w-75 text-center mx-auto">
                            <input type="search" placeholder="Buscar cliente..." class="form-input w-50">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon-btn m-0">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </form>
                    </div>

                    <div class="row">
                        <div class="col-3 fw-bold">Nombre</div>
                        <div class="col-4 fw-bold">Dirección</div>
                        <div class="col-2 fw-bold">Teléfono</div>
                        <div class="col-1 fw-bold">Rate</div>
                        <div class="col-2 fw-bold">Notas</div>
                    </div>
                    <hr>

                    <!--Data-->
                    <div id="dataView" class="pb-5">
                        <div class="row data py-4 mb-4">
                            <div class="col-3">Josué Gerardo Argumedo Rivera</div>
                            <div class="col-4">Calle Leonardo da Vinci, 7, 41092. Address: Calle Leonardo da Vinci, 7,
                                41092.</div>
                            <div class="col-2">1234-5678</div>
                            <div class="col-1 h-25 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 16 16">
                                    <path
                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                                <p class="m-0 mt-1 ms-2">5</p>
                            </div>
                            <div class="col-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-btn-2 m-0" viewBox="0 0 16 16"
                                    data-bs-toggle="modal" data-bs-target="#clientModal">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </div>
                        </div>
                    </div>

                    <ul class="nav nav-tabs mb-2">
                        <li class="nav-item">
                            <button class="nav-link active position-relative" data-bs-toggle="tab"
                                data-bs-target="#comprasTabPane">Compras</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab"
                                data-bs-target="#driversTabPane">Drivers</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab"
                                data-bs-target="#gestionesTabPane">Gestiones</button>
                        </li>
                    </ul>
                    <div class="tab-content row mb-5">
                        <div class="tab-pane fade show active" id="comprasTabPane">
                            <div class="row h75vh">
                                <div class="pe-2 mt-4 col-1">
                                    <button class="main-btn w-100 mb-3">Activos</button>
                                    <button class="main-btn w-100">Historial</button>
                                </div>
                                <div class="pt-4 col-11 banner container-fluid">
                                    <div class="row fw-bold">
                                        <div class="col-1">Comp.</div>
                                        <div class="col-2">Afiliado</div>
                                        <div class="col-2">Comercio</div>
                                        <div class="col-1">Caja</div>
                                        <div class="col-1">Tipo Orden</div>
                                        <div class="col-1">Referencia</div>
                                        <div class="col-2">Observación</div>
                                        <div class="col-1">Fecha orden</div>
                                        <div class="col-1">Total</div>
                                    </div>
                                    <hr>

                                    <!--Data-->
                                    <div class="row data py-4 mb-4">
                                        <div class="col-1">PRUEBA</div>
                                        <div class="col-2">ALEX PALACIOS</div>
                                        <div class="col-2">CHEKES</div>
                                        <div class="col-1"></div>
                                        <div class="col-1">1</div>
                                        <div class="col-1"></div>
                                        <div class="col-2">Tocar timbre</div>
                                        <div class="col-1">02-03-23</div>
                                        <div class="col-1">$17.00</div>
                                        <button class="main-btn w-25 mx-auto mt-4" data-bs-toggle="modal"
                                            data-bs-target="#detailModal">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="me-3"
                                                width="30">
                                                <path
                                                    d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z" />
                                            </svg>
                                            Ver detalle
                                        </button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="driversTabPane">
                            <div class="row h75vh">
                                <div class="pe-2 mt-4 col-2">
                                    <button class="main-btn w-100" data-bs-toggle="modal"
                                        data-bs-target="#locationModal">Ver ubicación</button>
                                    <button class="main-btn w-100 my-3" data-bs-toggle="modal"
                                        data-bs-target="#locationModal">Ver disponibles</button>
                                    <button class="main-btn w-100">Asignar</button>
                                </div>
                                <div class="mt-4 col-10 banner container-fluid">
                                    <div class="row">
                                        <div class="col-12 d-flex align-items-center">
                                            <img src="../resources/profile/1.jpg" alt="" class="rounded-circle"
                                                width="25%">
                                            <div class="mx-4">
                                                <p>Conductor:</p>
                                                <h5>Fernando Martínez</h5>
                                                <div class="d-flex align-items-center" tabindex="0"
                                                    data-bs-toggle="popover" data-bs-trigger="hover"
                                                    data-bs-title="Último comentario"
                                                    data-bs-content="And here's some amazing content. It's very engaging. Right?">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                    <p class="m-0 mt-1 ms-2">5</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade container-fluid" id="gestionesTabPane">
                            <div class="row h75vh">
                                <div class="col-2 mt-4">
                                    <button class="main-btn" data-bs-toggle="modal"
                                        data-bs-target="#ticketModal">Agregar ticket</button>
                                </div>
                                <div class="col-10 banner container-fluid mt-4">
                                    <form action="" class="row justify-content-center">
                                        <input type="search" placeholder="Buscar ticket..." class="form-input"
                                            style="width: 35%;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                            class="icon-btn m-0">
                                            <path
                                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                    </form>
                                    <div class="row my-5">
                                        <div class="col-12 d-flex align-items-center">
                                            <p class="m-0">Filtrar:</p>
                                            <button class="main-btn ms-3 active">Activos</button>
                                            <button class="main-btn ms-3">Inactivos</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-1 fw-bold">N° Ticket</div>
                                        <div class="col-3 fw-bold">Cliente</div>
                                        <div class="col-4 fw-bold">Nota</div>
                                        <div class="col-2 fw-bold">Tipo Ticket</div>
                                        <div class="col-1 fw-bold">Fecha</div>
                                        <div class="col-1 fw-bold">Escalado A</div>
                                    </div>
                                    <hr>

                                    <!--Data-->
                                    <div id="dataViewTicket">
                                        <div class="row data py-4 mb-4">
                                            <div class="col-1">24</div>
                                            <div class="col-3">Josué Gerardo Argumedo Rivera</div>
                                            <div class="col-4 text-justify">Lorem ipsum dolor sit amet consectetur
                                                adipisicing elit. Quo
                                                facilis amet quasi ipsum vitae quidem necessitatibus vero iure
                                                voluptatem officia ullam
                                                a et accusamus consequuntur doloremque esse, perferendis, culpa
                                                delectus.</div>
                                            <div class="col-2">Técnico</div>
                                            <div class="col-1">26-02-23</div>
                                            <div class="col-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-btn-2 m-0"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                    <path fill-rule="evenodd"
                                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                </svg>
                                            </div>
                                        </div>

                                        <div class="row data py-4 mb-4">
                                            <div class="col-1">24</div>
                                            <div class="col-3">Josué Gerardo Argumedo Rivera</div>
                                            <div class="col-4 text-justify">Lorem ipsum dolor sit amet consectetur
                                                adipisicing elit. Quo
                                                facilis amet quasi ipsum vitae quidem necessitatibus vero iure
                                                voluptatem officia ullam
                                                a et accusamus consequuntur doloremque esse, perferendis, culpa
                                                delectus.</div>
                                            <div class="col-2">Técnico</div>
                                            <div class="col-1">26-02-23</div>
                                            <div class="col-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-btn-2 m-0"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                    <path fill-rule="evenodd"
                                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>

                                    <nav>
                                        <ul class="pagination justify-content-center my-5">
                                            <li class="page-item disabled">
                                                <a class="page-link">Previous</a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="../js/components.js"></script>
</body>

</html>